* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    position: relative;
    font-family: "Roboto", sans-serif;
    height: 100vh;
    width: 100%;
}

p{
    text-align: center;
}

@keyframes show-overlay {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.forgotpassword-container {
    padding: 50px 25px;
    width: 30%;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
    box-shadow: 0 0 10px lightgrey;
}

.header-forgotpassword {
    padding-bottom: 7px;
    border-bottom: 1px solid darkgrey;
}

.header-forgotpassword a{
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    display: inline;
    padding: 8px 16px;
    color: black;
    border-radius: 50%;
}

.header-forgotpassword a:hover{
    color: #c96;
}

.header-forgotpassword h4 {
    margin-top: 4px;
    float: right;
    text-transform: uppercase;
    color: #4A4A4A;
    display: inline;
}

::placeholder {
    color:darkgrey;  
}

.body-address .form select:invalid{
    color: #AAAAAA;
}

.body-address .form input {
    display: block;
    padding: 10px;
    margin-bottom: 18px;
    outline: none;
    color: #515151;
    transition: 0.4s;
    width: 565px;
    height: 38px;
    border-radius: 2px;
    border: 1px solid #ccc;
}

.body-address .form .sameline{
    width: 100%;
    margin: 0 auto;
    margin-top: 15px;
}

.body-address .form .sameline input{
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    color: #515151;
}

.body-address .form input:focus {
    border-color: #c96;
}

.footer {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
}

.footer button {
    padding: 10px;
    min-width: 120px;
    background: #000051;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.4s;
    width: 100%;
    margin: 0 auto;
}

.footer .savebtn{
    background-color: #c96;
}

.footer .savebtn:hover {
    background: goldenrod;
}

.otp-send-fail{
    padding: 50px 25px;
    width: 30%;
    margin: 0 auto;
    margin-top: 200px;
}





