* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    position: relative;
    font-family: "Roboto", sans-serif;
    height: 100vh;
    width: 100%;
}

.overlay {
    width: 100%;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    margin-top: 25px;
}

@keyframes show-overlay {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.editaddress-container {
    padding: 50px 25px;
    margin: auto;
    width: 41%;
    background: white;
    box-shadow: 0 0 20px lightgrey;
}

.header-address {
    position: relative;
}

.header-address h3 {
    text-align: left;
    text-transform: uppercase;
    color: #4A4A4A;
    padding-bottom: 7px;
    border-bottom: 1px solid darkgrey;
}

.header-address i {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    color: #000051;
}

::placeholder {
    color:darkgrey;  
}

.body .form select:invalid{
    color: #AAAAAA;
}

select{
    display: block;
    padding: 10px;
    margin-bottom: 18px;
    outline: none;
    color: #515151;
    transition: 0.4s;
    width: 100%;
    height: 38px;
    border-radius: 2px;
    border: 1px solid #ccc;
}

input {
    display: block;
    padding: 10px;
    margin-bottom: 18px;
    outline: none;
    color: #515151;
    transition: 0.4s;
    width: 100%;
    height: 38px;
    border-radius: 2px;
    border: 1px solid #ccc;
}

.sameline input{
    margin-top: 18px;
    color: #4A4AA4A;
    width: 284px;
    border: 1px solid #ccc;
    border-radius: 2px;
    display: inline;
}

.body .form input:focus {
    border-color: grey;
}

.footer {
    height: 100%;
    width: 100%;
    margin-top: 30px;
    text-align: right;
}

.footer button {
    padding: 10px;
    min-width: 120px;
    background: #000051;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.4s;
    width: 100%;
    margin: 0 auto;
}

.inner
{
    display: inline-block;
}

.footer .cancelbtn{
    display: inline-block;
    color: #161616;
    background-color: white;
}

.footer .savebtn{
    display: inline-block;
    background-color: #c96;
}


.footer .cancelbtn:hover {
    background: lightgrey;
}

.footer .savebtn:hover {
    background: goldenrod;
}





